<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#AB-Testing" data-toc-modified-id="AB-Testing-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>AB-Testing</a></span></li></ul></div>

# AB-Testing

![cats](images/cats.jpeg)


Imaginad que somos los cientificos de datos de la empresa de videojuegos Tactile Entertainment. Los desarrolladores del juego Cookie Cats pretenden introducir un cambio en el juego para aumentar la retencion de los jugadores. En cierto nivel del juego los jugadores se encuentran una puerta que les obliga a esperar o a pagar la app. Actualmente la puerta se encuentra en nivel 30 y se pretende pasar al nivel 40, para comprobar la retencion a 1 y 7 dias. Antes de realizar el cambio definitivo en el juego se raliza un test AB.

Los datos estan alojados en `data/cookie_cats.csv`. Nuestro grupo de control sera la version actual `gate_30` y el grupo de tratamiento sera la version `gate_40`. Debemos realizar el test para 1 dia de retencion `retention_1` y para 7 dias `retention_7`.

In [2]:
# librerias

import pandas as pd
import numpy as np

from statsmodels.stats.proportion import proportions_ztest, proportion_confint
from scipy.stats import norm, sem

import pylab as plt

In [3]:
# datos
df = pd.read_csv('data/cookie_cats.csv')
df.head()

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3        False        False
1     337  gate_30              38         True        False
2     377  gate_40             165         True        False
3     483  gate_40               1        False        False
4     488  gate_40             179         True         True

In [5]:
df.shape

(90189, 5)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90189 entries, 0 to 90188
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   userid          90189 non-null  int64
 1   version         90189 non-null  object
 2   sum_gamerounds  90189 non-null  int64
 3   retention_1     90189 non-null  bool
 4   retention_7     90189 non-null  bool
dtypes: bool(2), int64(2), object(1)
memory usage: 2.2+ MB

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
userid,90189.0,4.998412e+06,2.883286e+06,116.0,2512230.0,4995815.0,7496452.0,9999861.0
sum_gamerounds,90189.0,5.187246e+01,1.950509e+02,0.0,5.0,16.0,51.0,49854.0

In [8]:
#df.info(memory_usage='deep')

Segun el Read Me sum_gamerounds es la sumatoria de los niveles juagados en los 14 primeros días desde la instalación del juego. 
Los columnas de retention_1: si volvió el jugador después del primer día de instalación?
retention_7: si volvió el jugador después del séptimo día de instalación?
De estos datos no me importa cualquier juador que haya jugado menos rondas que el número de niveles donde teóricamente se encuentra la puerta de para o paga

In [9]:
# transformacion
df[df.sum_gamerounds<=30].shape

(57562, 5)

In [13]:
df.groupby('version').sample(50)

        userid  version  sum_gamerounds  retention_1  retention_7
27625  3076205  gate_30              18        False        False
40263  4454904  gate_30             134         True        False
5187    574678  gate_30               5        False        False
29675  3302196  gate_30               4        False        False
22992  2562017  gate_30               4        False        False
...        ...      ...             ...          ...          ...
77795  8611750  gate_40               2        False        False
30986  3447662  gate_40               3        False        False
24579  2736103  gate_40               5        False        False
31456  3501026  gate_40               2        False        False
62367  6909244  gate_40              12        False        False

[100 rows x 5 columns]

# muestreo

In [8]:
# testeo para retention_1

In [9]:
# testeo para retention_7

In [10]:
# conclusiones
# Explica detalladamente las conclusiones obtenidas de. tu testeo.